## Import needed libraries

In [29]:
import pandas as pd

## Read in the attendance CSV to a data frame so you can do statistics on it

In [6]:
df = pd.read_csv('attendance.csv')

In [7]:
df.head()

         Date                  Away                   Home  Attendance Type
0  2021-04-01        Houston Astros      Oakland Athletics       10436    R
1  2021-04-01  Arizona Diamondbacks       San Diego Padres       10350    R
2  2021-04-01  San Francisco Giants       Seattle Mariners        8174    R
3  2021-04-01        Atlanta Braves  Philadelphia Phillies        8529    R
4  2021-04-01        Tampa Bay Rays          Miami Marlins        7062    R

## Set up for the questions

Here, I pick the Series `df['Away]`

In [10]:
s = df['Away']

## Question 1: Find the Count of non-missing values of a series

In [11]:
s.count()

2370

## Question 2: Find the number of entries of a series

I struggled a bit with trying to figure out what was being asked here. If there were missing values then the result from question 1 would be different that the result from question 2. Since there aren't any missing values they are the same.

In [13]:
s.size

2370

## Question 3: Find the number of unique entries in a series

Since this is just the number of Baseball teams, the answer should be 30

In [15]:
s.nunique(dropna=True)

30

The above would be equivalent to, but should be avoided probably as it's not as 'pandas-ey' as it should be. Probably some performance issues as well

In [16]:
len(s.unique())

30

## Question 4: Find the mean value of a series

For this, I'll use `df['Attendance']`

In [17]:
a = df['Attendance']
a.mean()

18930.39493670886

## Question 5: Find the maximum value of a series

In [19]:
a.max()

53114

## Question 6: Use the `.agg` method to find all of the above

In [24]:
a.agg(['nunique', 'mean', 'max'])

nunique     2233.000000
mean       18930.394937
max        53114.000000
Name: Attendance, dtype: float64

## Bonus Question: Find the Row(s) with the max attendance

In [26]:
df[df['Attendance'] == a.max()]

            Date                Away                 Home  Attendance Type
1747  2021-08-17  Pittsburgh Pirates  Los Angeles Dodgers       53114    R

In [27]:
df[df['Attendance'] == a.min()]

           Date                   Away               Home  Attendance Type
571  2021-05-16  Philadelphia Phillies  Toronto Blue Jays        1107    R