In [1]:
import pandas as pd

### Question 1: Create a dataframe from the data and add it to itself.

In [5]:
df = pd.read_csv('attendance.csv')
df + df
# or
df.add(df)

,Date,Away,Home,Attendance,Type
0,2021-04-012021-04-01,Houston AstrosHouston Astros,Oakland AthleticsOakland Athletics,20872,RR
1,2021-04-012021-04-01,Arizona DiamondbacksArizona Diamondbacks,San Diego PadresSan Diego Padres,20700,RR
2,2021-04-012021-04-01,San Francisco GiantsSan Francisco Giants,Seattle MarinersSeattle Mariners,16348,RR
3,2021-04-012021-04-01,Atlanta BravesAtlanta Braves,Philadelphia PhilliesPhiladelphia Phillies,17058,RR
4,2021-04-012021-04-01,Tampa Bay RaysTampa Bay Rays,Miami MarlinsMiami Marlins,14124,RR
...,...,...,...,...,...
2365,2021-10-032021-10-03,Colorado RockiesColorado Rockies,Arizona DiamondbacksArizona Diamondbacks,25130,RR
2366,2021-10-032021-10-03,Oakland AthleticsOakland Athletics,Houston AstrosHouston Astros,59504,RR
2367,2021-10-032021-10-03,Minnesota TwinsMinnesota Twins,Kansas City RoyalsKansas City Royals,34316,RR
2368,2021-10-032021-10-03,Milwaukee BrewersMilwaukee Brewers,Los Angeles DodgersLos Angeles Dodgers,86340,RR
2369,2021-10-032021-10-03,Boston Red SoxBoston Red Sox,Washington NationalsWashington Nationals,67972,RR

### Question 2: Create a dataframe from the data and multiply it by two.

In [4]:
df * 2
# or
df.mul(2)

,Date,Away,Home,Attendance,Type
0,2021-04-012021-04-01,Houston AstrosHouston Astros,Oakland AthleticsOakland Athletics,20872,RR
1,2021-04-012021-04-01,Arizona DiamondbacksArizona Diamondbacks,San Diego PadresSan Diego Padres,20700,RR
2,2021-04-012021-04-01,San Francisco GiantsSan Francisco Giants,Seattle MarinersSeattle Mariners,16348,RR
3,2021-04-012021-04-01,Atlanta BravesAtlanta Braves,Philadelphia PhilliesPhiladelphia Phillies,17058,RR
4,2021-04-012021-04-01,Tampa Bay RaysTampa Bay Rays,Miami MarlinsMiami Marlins,14124,RR
...,...,...,...,...,...
2365,2021-10-032021-10-03,Colorado RockiesColorado Rockies,Arizona DiamondbacksArizona Diamondbacks,25130,RR
2366,2021-10-032021-10-03,Oakland AthleticsOakland Athletics,Houston AstrosHouston Astros,59504,RR
2367,2021-10-032021-10-03,Minnesota TwinsMinnesota Twins,Kansas City RoyalsKansas City Royals,34316,RR
2368,2021-10-032021-10-03,Milwaukee BrewersMilwaukee Brewers,Los Angeles DodgersLos Angeles Dodgers,86340,RR
2369,2021-10-032021-10-03,Boston Red SoxBoston Red Sox,Washington NationalsWashington Nationals,67972,RR

### Question 3: Are the results from the previous exercises equivalent?

In [7]:
df.add(df).equals(df.mul(2))

True