In [1]:
import pandas as pd

### Question 1: Loop over each of the rows and calculate the maximum and minimum value.

In [2]:
df = pd.read_csv('attendance.csv')

In [3]:
for col_name, col in df.iteritems():
    message_max = f"The maximum value for {col_name} is {df[col_name].max()}"
    print(message_max)
    message_min = f"The minimum value for {col_name} is {df[col_name].min()}"
    print(message_min)

The maximum value for Date is 2021-10-03
The minimum value for Date is 2021-04-01
The maximum value for Away is Washington Nationals
The minimum value for Away is Arizona Diamondbacks
The maximum value for Home is Washington Nationals
The minimum value for Home is Arizona Diamondbacks
The maximum value for Attendance is 53114
The minimum value for Attendance is 1107
The maximum value for Type is R
The minimum value for Type is R

### Question 2: Calculate the maximum and minimum value of each row and column using the.aggmethod

In [4]:
df.agg(['min', 'max'])

           Date                  Away                  Home  Attendance Type
min  2021-04-01  Arizona Diamondbacks  Arizona Diamondbacks        1107    R
max  2021-10-03  Washington Nationals  Washington Nationals       53114    R

In [5]:
df.agg([min, max])

           Date                  Away                  Home  Attendance Type
min  2021-04-01  Arizona Diamondbacks  Arizona Diamondbacks        1107    R
max  2021-10-03  Washington Nationals  Washington Nationals       53114    R

### Question 3: Calculate the maximum and minimum value of each row and column using the .apply method.

In [6]:
df.apply(['max', 'min'])

           Date                  Away                  Home  Attendance Type
max  2021-10-03  Washington Nationals  Washington Nationals       53114    R
min  2021-04-01  Arizona Diamondbacks  Arizona Diamondbacks        1107    R

In [7]:
df.apply([max, min])

           Date                  Away                  Home  Attendance Type
max  2021-10-03  Washington Nationals  Washington Nationals       53114    R
min  2021-04-01  Arizona Diamondbacks  Arizona Diamondbacks        1107    R