In [2]:
import pandas as pd

# Question 1: Convert a column with date information to a date

In [3]:
df = pd.read_csv('attendance.csv', parse_dates=['Date'])
df.head()

        Date                  Away                   Home  Attendance Type
0 2021-04-01        Houston Astros      Oakland Athletics       10436    R
1 2021-04-01  Arizona Diamondbacks       San Diego Padres       10350    R
2 2021-04-01  San Francisco Giants       Seattle Mariners        8174    R
3 2021-04-01        Atlanta Braves  Philadelphia Phillies        8529    R
4 2021-04-01        Tampa Bay Rays          Miami Marlins        7062    R

# Question 2: Put the date information into the index for a numeric column.

In [4]:
team_filter = (df['Away']=='Los Angeles Dodgers') | (df['Home']=='Los Angeles Dodgers')
dodgers = df[['Date','Attendance']][team_filter]
dodgers = dodgers.set_index('Date')
dodgers

            Attendance
Date
2021-04-01       20570
2021-04-02       20363
2021-04-03       20688
2021-04-04       20368
2021-04-05        6653
...                ...
2021-09-29       45366
2021-09-30       52550
2021-10-01       51388
2021-10-02       49705
2021-10-03       43170

[161 rows x 1 columns]

# Question 3: Calculate the average value of the column for each month

In [5]:
def attendance_month(idx):
    return idx.month

In [6]:
dodgers.resample('M').mean()
# Alternatively, you could use dodgers.groupby(attendance_month).mean()

              Attendance
Date
2021-04-30  14372.740741
2021-05-31  16375.923077
2021-06-30  33240.692308
2021-07-31  34732.230769
2021-08-31  42537.333333
2021-09-30  36873.961538
2021-10-31  48087.666667

# Question 4: Calculate the average value of the column for every 2 months. 

I'm honestly not sure what this question is asking. Is it asking for, in my case, the average for April and May, then June and July, etc

OR

is it asking for April and May, then May and June, etc?

The answer below is for April and May, then May and June

In [7]:
dodgers.resample('M').sum().rolling(2).mean()

            Attendance
Date
2021-04-30         NaN
2021-05-31    406919.0
2021-06-30    645016.0
2021-07-31    883648.0
2021-08-31   1025773.0
2021-09-30   1053615.5
2021-10-31    551493.0

# Question 5: Calculate the percentage of the column out of the total for each month.

In [8]:
dodgers.resample('M').sum().div(dodgers.sum()).mul(100)

            Attendance
Date
2021-04-30    8.030082
2021-05-31    8.810403
2021-06-30   17.883810
2021-07-31   18.686272
2021-08-31   23.765703
2021-09-30   19.838543
2021-10-31    2.985187

# Question 6: Calculate the average value of the column for a rolling window of size 7.

In [9]:
dodgers.rolling(7).mean()

              Attendance
Date
2021-04-01           NaN
2021-04-02           NaN
2021-04-03           NaN
2021-04-04           NaN
2021-04-05           NaN
...                  ...
2021-09-29  30076.857143
2021-09-30  33725.000000
2021-10-01  37872.428571
2021-10-02  42258.714286
2021-10-03  44422.142857

[161 rows x 1 columns]

# Question 7: Using .loc pull out the first 3 months of a year

In [10]:
# dodgers.resample('M').sum().loc['2021-01-01':'2021-03-31']
dodgers.loc['2021-01-01':'2021-03-31']

Empty DataFrame
Columns: [Attendance]
Index: []

# Question 8: Using .loc pull out the last 4 months of a year.

In [11]:
dodgers.loc['2021-09-01':'2021-12-31']
# dodgers.resample('M').sum().loc['2021-09-01':'2021-12-31']

            Attendance
Date
2021-09-01       47473
2021-09-03       39338
2021-09-04       41146
2021-09-05       41155
2021-09-06       43575
2021-09-07       34500
2021-09-08       35566
2021-09-09       31173
2021-09-10       48403
2021-09-11       46969
2021-09-12       42637
2021-09-13       43273
2021-09-14       44630
2021-09-15       46520
2021-09-17       28926
2021-09-18       29861
2021-09-19       26621
2021-09-21       23869
2021-09-22       27013
2021-09-23       22356
2021-09-24       19001
2021-09-25       28026
2021-09-26       16648
2021-09-28       52128
2021-09-29       45366
2021-09-30       52550
2021-10-01       51388
2021-10-02       49705
2021-10-03       43170