In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vehicles.csv', low_memory=False)

### Question 1: Find out which columns have missing data.

In [3]:
df
.isna()
.sum()[
    df
    .isna()
    .sum() != 0]
.index

Index(['cylinders', 'displ', 'drive', 'eng_dscr', 'trany', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop'],
      dtype='object')

### Question 2: Count the number of missing values for each column.

In [4]:
df.isna().sum()[df.isna().sum() != 0]

cylinders       206
displ           204
drive          1189
eng_dscr      16153
trany            11
guzzler       38721
trans_dscr    26097
tCharger      34272
sCharger      40304
atvType       37584
fuelType2     39538
rangeA        39543
evMotor       40292
mfrCode       30818
c240Dscr      41063
c240bDscr     41065
startStop     31704
dtype: int64

### Question 3: Find the percentage of missing values for each column.

In [5]:
(df.isna().sum()[df.isna().sum() != 0] / df.isna().count()[df.isna().sum() != 0]).mul(100)

cylinders      0.500681
displ          0.495820
drive          2.889850
eng_dscr      39.259673
trany          0.026735
guzzler       94.110927
trans_dscr    63.428446
tCharger      83.297686
sCharger      97.958390
atvType       91.347463
fuelType2     96.096636
rangeA        96.108789
evMotor       97.929224
mfrCode       74.902780
c240Dscr      99.803130
c240bDscr     99.807991
startStop     77.056193
dtype: float64

### Question 4: Find the rows with missing data.

In [6]:
df[df.displ.isna()]

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0000,0,0.0,0.0,46.0000,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0000,0,0.0,0.0,75.0000,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34563,0.156,0.0,0.0,8.5,138,138.1100,0,0.0,0.0,24.4045,...,TSL,standard charger,0.0,80 amp dual charger,Thu May 02 00:00:00 EDT 2019,Thu May 02 00:00:00 EDT 2019,N,0,0,0
34564,0.150,0.0,0.0,9.5,140,140.4200,0,0.0,0.0,24.0030,...,TSL,standard charger,0.0,80 amp dual charger,Thu May 02 00:00:00 EDT 2019,Tue Jun 04 00:00:00 EDT 2019,N,0,0,0
34565,0.180,0.0,0.0,12.0,115,114.9369,0,0.0,0.0,29.3248,...,TSL,standard charger,8.0,72 amp dual charger,Thu May 02 00:00:00 EDT 2019,Tue Jun 04 00:00:00 EDT 2019,N,0,0,0
34566,0.192,0.0,0.0,12.0,104,104.2314,0,0.0,0.0,32.3367,...,TSL,standard charger,8.0,72 amp dual charger,Thu May 02 00:00:00 EDT 2019,Tue Jun 04 00:00:00 EDT 2019,N,0,0,0
34567,0.210,0.0,0.0,12.0,98,98.1135,0,0.0,0.0,34.3531,...,TSL,standard charger,8.0,72 amp dual charger,Thu May 02 00:00:00 EDT 2019,Tue Jun 04 00:00:00 EDT 2019,N,0,0,0

### Question 5: Find the rows that are duplicated.

In [7]:
df.drop_duplicates().shape

(41144, 83)

In [8]:
df.shape

(41144, 83)

Since the shape of each dataframe is the same we see that there are no duplicates