# Chapter 31: Working with Time Series

In [10]:
import pandas as pd

In [28]:
df = pd.read_csv('attendance.csv')

### Question 1: Convert a date column from a string to a proper date

In [29]:
df['Date'] = pd.to_datetime(df.Date)

### Question 2: Group the data by month names and look at the mean values

In [30]:
df.set_index('Date', inplace=True)

In [32]:
df.resample('M').mean()

              Attendance
Date
2021-04-30  10032.299191
2021-05-31  12329.274752
2021-06-30  19812.813299
2021-07-31  24724.272981
2021-08-31  23402.697789
2021-09-30  21956.363868
2021-10-31  30787.844444

### Question 3: Group the data by each month of every year and look at the mean values

In [35]:
# Still needs work
df.resample('D').mean()

              Attendance
Date
2021-04-01  10821.538462
2021-04-02   9697.285714
2021-04-03   9843.000000
2021-04-04  10201.833333
2021-04-05  10744.769231
...                  ...
2021-09-29  22785.866667
2021-09-30  25718.833333
2021-10-01  29225.200000
2021-10-02  33197.133333
2021-10-03  29941.200000

[186 rows x 1 columns]

### Question 4: Insert the date column in the index and slice out a portion of the rows by date.

In [41]:
first_half_start = '2021/4/1'
first_half_end = '2021/7/13'
second_half_start = '2021/7/14'
second_half_end = '2021/10/3'
# df.loc[first_half_start:first_half_end]
df.loc[second_half_start:second_half_end]

                            Away                   Home  Attendance Type
Date
2021-07-16     Cleveland Indians      Oakland Athletics       12361    R
2021-07-16         New York Mets     Pittsburgh Pirates       18119    R
2021-07-16  San Francisco Giants    St. Louis Cardinals       33743    R
2021-07-16         Texas Rangers      Toronto Blue Jays       10100    R
2021-07-16         Miami Marlins  Philadelphia Phillies       28712    R
...                          ...                    ...         ...  ...
2021-10-03      Colorado Rockies   Arizona Diamondbacks       12565    R
2021-10-03     Oakland Athletics         Houston Astros       29752    R
2021-10-03       Minnesota Twins     Kansas City Royals       17158    R
2021-10-03     Milwaukee Brewers    Los Angeles Dodgers       43170    R
2021-10-03        Boston Red Sox   Washington Nationals       33986    R

[1058 rows x 4 columns]