In [1]:
import pandas as pd

# Read in the data
The data comes from https://github.com/mattharrison/datasets/blob/master/data/vehicles.csv.zip

In [2]:
df = pd.read_csv('vehicles.csv', low_memory=False, parse_dates=['createdOn', 'modifiedOn'])

/Users/ryan/Documents/testbed/effective_pandas/venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/ryan/Documents/testbed/effective_pandas/venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/ryan/Documents/testbed/effective_pandas/venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/ryan/Documents/testbed/effective_pandas/venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

## Question 1
Add a numeric Series to itself

In [13]:
city_mpg = df.city08
city_mpg.head()

0    19
1     9
2    23
3    10
4    17
Name: city08, dtype: int64

In [11]:
city_mpg.head() + city_mpg.head()

0    38
1    18
2    46
3    20
4    34
Name: city08, dtype: int64

## Question 2
Add 10 to a numeric series

In [35]:
city_mpg.head() + 10
city_mpg.head().add(10)

0    29
1    19
2    33
3    20
4    27
Name: city08, dtype: int64

## Question 3
Add a numeric series to itself using the `.add()` method

In [17]:
city_mpg.add(city_mpg).head()

0    38
1    18
2    46
3    20
4    34
Name: city08, dtype: int64

# Question 4
Read the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.add.html) on the `.add()` method

### Example with `fill_value`

In [38]:
n = 5
top5 = city_mpg.head(n)
last5 = city_mpg.tail(n)
top5.add(last5, fill_value=0)

0        19.0
1         9.0
2        23.0
3        10.0
4        17.0
41139    19.0
41140    20.0
41141    18.0
41142    18.0
41143    16.0
Name: city08, dtype: float64

### Example with `level`

I honestly have no idea what `level` does
```
levelint or name
    Broadcast across a level, matching Index values on the passed MultiIndex level.
```

In [47]:
for i, v in top5.items():
    message = f"{i} has a value of {v}"    
    print(message)

0 has a value of 19
1 has a value of 9
2 has a value of 23
3 has a value of 10
4 has a value of 17

In [43]:
top5

0    19
1     9
2    23
3    10
4    17
Name: city08, dtype: int64

In [48]:
mpg = [19,6,4,8,9,14]

In [51]:
for i, v in enumerate(mpg):
    print(i, v)

0 19
1 6
2 4
3 8
4 9
5 14