In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('attendance.csv')

### Question 1: Pull out the first two rows by name

In [3]:
df.set_index('Attendance').sort_index().loc[1107:1171]

                  Date                   Away               Home Type
Attendance
1107        2021-05-16  Philadelphia Phillies  Toronto Blue Jays    R
1171        2021-05-14  Philadelphia Phillies  Toronto Blue Jays    R

### Question 2: Pull out the first two rows by position

In [4]:
df.set_index('Attendance').sort_index().iloc[[0,1]]

                  Date                   Away               Home Type
Attendance
1107        2021-05-16  Philadelphia Phillies  Toronto Blue Jays    R
1171        2021-05-14  Philadelphia Phillies  Toronto Blue Jays    R

### Question 3: Pull out the last two columns by name

In [5]:
df.loc[:, ['Attendance', 'Type']]

      Attendance Type
0          10436    R
1          10350    R
2           8174    R
3           8529    R
4           7062    R
...          ...  ...
2365       12565    R
2366       29752    R
2367       17158    R
2368       43170    R
2369       33986    R

[2370 rows x 2 columns]

### Question 4: Pull out the last two columns by position

In [6]:
df.iloc[:, -2:]

      Attendance Type
0          10436    R
1          10350    R
2           8174    R
3           8529    R
4           7062    R
...          ...  ...
2365       12565    R
2366       29752    R
2367       17158    R
2368       43170    R
2369       33986    R

[2370 rows x 2 columns]