In [78]:
import pandas as pd

The data comes from https://github.com/mattharrison/datasets/blob/master/data/vehicles.csv.zip

In [47]:
df = pd.read_csv('vehicles.csv', low_memory=False, parse_dates=['createdOn', 'modifiedOn'])

/Users/ryan/Documents/testbed/effective_pandas/venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/ryan/Documents/testbed/effective_pandas/venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/ryan/Documents/testbed/effective_pandas/venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/ryan/Documents/testbed/effective_pandas/venv/lib/python3.10/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [48]:
drive = df.drive

In [93]:
len(dir(drive.str))

99

In [58]:
drive.str.title()

0                  Rear-Wheel Drive
1                  Rear-Wheel Drive
2                 Front-Wheel Drive
3                  Rear-Wheel Drive
4        4-Wheel Or All-Wheel Drive
                    ...
41139             Front-Wheel Drive
41140             Front-Wheel Drive
41141    4-Wheel Or All-Wheel Drive
41142    4-Wheel Or All-Wheel Drive
41143    4-Wheel Or All-Wheel Drive
Name: drive, Length: 41144, dtype: object

In [87]:
drive.str.replace('-', ' ').str.split(' ')

0                     [Rear, Wheel, Drive]
1                     [Rear, Wheel, Drive]
2                    [Front, Wheel, Drive]
3                     [Rear, Wheel, Drive]
4        [4, Wheel, or, All, Wheel, Drive]
                       ...
41139                [Front, Wheel, Drive]
41140                [Front, Wheel, Drive]
41141    [4, Wheel, or, All, Wheel, Drive]
41142    [4, Wheel, or, All, Wheel, Drive]
41143    [4, Wheel, or, All, Wheel, Drive]
Name: drive, Length: 41144, dtype: object

In [89]:
drive.str.zfill(40)

0        000000000000000000000000Rear-Wheel Drive
1        000000000000000000000000Rear-Wheel Drive
2        00000000000000000000000Front-Wheel Drive
3        000000000000000000000000Rear-Wheel Drive
4        000000000000004-Wheel or All-Wheel Drive
                           ...
41139    00000000000000000000000Front-Wheel Drive
41140    00000000000000000000000Front-Wheel Drive
41141    000000000000004-Wheel or All-Wheel Drive
41142    000000000000004-Wheel or All-Wheel Drive
41143    000000000000004-Wheel or All-Wheel Drive
Name: drive, Length: 41144, dtype: object

In [52]:
len(dir(df.createdOn.dt))

83

In [74]:
df.createdOn.dt.isocalendar()

       year  week  day
0      2013     1    2
1      2013     1    2
2      2013     1    2
3      2013     1    2
4      2013     1    2
...     ...   ...  ...
41139  2013     1    2
41140  2013     1    2
41141  2013     1    2
41142  2013     1    2
41143  2013     1    2

[41144 rows x 3 columns]

In [95]:
df.createdOn.dt.normalize()

0       2013-01-01
1       2013-01-01
2       2013-01-01
3       2013-01-01
4       2013-01-01
           ...
41139   2013-01-01
41140   2013-01-01
41141   2013-01-01
41142   2013-01-01
41143   2013-01-01
Name: createdOn, Length: 41144, dtype: datetime64[ns]

In [71]:
df.createdOn.dt.year

0        2013
1        2013
2        2013
3        2013
4        2013
         ...
41139    2013
41140    2013
41141    2013
41142    2013
41143    2013
Name: createdOn, Length: 41144, dtype: int64