# Chapter 32: Joining Dataframes

In [1]:
import pandas as pd

In [2]:
employees = pd.DataFrame({
    "name": ["Fred", "John", "Sally", "Annie"],
    "company": ["AMZN", "GOOG", "GOOG", "NFLX"]
    })
employers = pd.DataFrame({
    "ticker": ["AMZN", "GOOG"],
    "location": ["Seattle", "SF"]
})

### Question 1: What type of join do we need to do to get the location of each employee?

Answer: It's impossible to get the location for each employee, but for those ticker that have locations you would do an inner join. If you wanted to return a NULL value where a location does not exist, you'd do a left join

In [3]:
# Only show those employees with a company that has a location
employees.merge(employers, how='inner', left_on='company', right_on='ticker')

    name company ticker location
0   Fred    AMZN   AMZN  Seattle
1   John    GOOG   GOOG       SF
2  Sally    GOOG   GOOG       SF

In [4]:
# Show all employees regardless of a company that has a location
employees.merge(employers, how='left', left_on='company', right_on='ticker')

    name company ticker location
0   Fred    AMZN   AMZN  Seattle
1   John    GOOG   GOOG       SF
2  Sally    GOOG   GOOG       SF
3  Annie    NFLX    NaN      NaN

### Question 2: How would you validate the join?

Answer: We would set the `validate` parameter to `m:1` to verify the output

In [5]:
employees.merge(employers, how='inner', left_on='company', right_on='ticker', validate='m:1')

    name company ticker location
0   Fred    AMZN   AMZN  Seattle
1   John    GOOG   GOOG       SF
2  Sally    GOOG   GOOG       SF