In [1]:
import pandas as pd

### Question 1: Create a dataframe with the names of your colleagues, their age (or an estimate), and their title.

In [8]:
df = pd.DataFrame({
    'name': ['Ryan Cheley', 'Lindsey Valenzuela', 'Zack Sanabia', 'Nemesio Oandasan',],
    'age': [44, 41, 51, 54,],
    'title': ['Director','AVP','VP','Manager',],
})
df

                 name  age     title
0         Ryan Cheley   44  Director
1  Lindsey Valenzuela   41       AVP
2        Zack Sanabia   51        VP
3    Nemesio Oandasan   54   Manager

### Question 2: Capitalize the values in the name column.

In [10]:
df.name.str.upper()

0           RYAN CHELEY
1    LINDSEY VALENZUELA
2          ZACK SANABIA
3      NEMESIO OANDASAN
Name: name, dtype: object

### Question 3: Sum up the values of the age column.

In [12]:
df.age.sum()

190